input:focus {
	background-color: #004d4d;
}

body {
	background-color:white;
	font-size: 18px;
	margin:0;
	padding:0;
	color: black;
	font-family: arial, helvetica, sans-serif;
}	
/* ################# NAVBAR ################# */
.navbar{
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;	
	padding:0.5vw;
	overflow: hidden;
	background-color: #004d4d;

}

li {
	float:left;
	margin-right:20px;
	text-align:center;
}

li a{
	display: block;
	color:white;
	text-decoration: none;
	width: 110px;
	margin: 1vw, 2vw;
	padding: 10px 0px;
}

li a:hover{
	background-color:#009999;
	border-radius: 0.5vw; 

}

.active{
	display: block;
	color:#00ffd9;
	width: 110px;
	margin: 1vw, 2vw;
	padding: 10px 0px;
}

.link{
	font-weight:bold;
	text-decoration: none;
	color:white;
}

.link:hover{
	color:#009999
}




/*   ################# BLOCKS #################  */
.block1 {
	border-radius: 10px; 
	background-color:#339966;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right:20px;
}
.block2 {
	border-radius: 10px; 
	background-color:#8cd9b3;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right:20px;
}
.block3 {
	border-radius: 10px; 
	background-color:#8cd9b3;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right:20px;
	text-align:center;
}
.picturegallery{
	padding:20px;
	margin:auto;
	text-align:center;
}
.footer{
	border-radius: 10px;
	padding: 10px;
}


/*  ################# TEXT #################  */
.header1 {
	font-size: 30px;
}
.employer{
	font-weight:bold;
	font-size:20px;
}
.title{
	font-weight:bold;
	font-size:20px;
	color:#009999;
	margin-top: 5px;
	margin-bottom:0px;
}
.text1{
	font-size:25px;	
}
.text2{
	font-size:20px;
	padding: 0px;
}
.footertext{
	text-align:right;
	color:#006666;
	font-size: 15px;
	padding:30px;
	margin-left: 20px;
}


/* ################# IMAGES ################# */

.headshot{
	border-radius: 100%;
	float: right;
	margin-right:30px;
}
.mattock{
	border-radius: 10px;
	float: right;
	margin-right:20px;
}	
	
